In [19]:
pip install --upgrade pandas

Requirement already satisfied: pandas in c:\users\admin\anaconda3\lib\site-packages (1.3.4)
Collecting pandas
Note: you may need to restart the kernel to use updated packages.

ERROR: Could not install packages due to an OSError: [WinError 5] Access is denied: 'C:\\Users\\ADMIN\\anaconda3\\Lib\\site-packages\\~andas\\_libs\\algos.cp39-win_amd64.pyd'
Consider using the `--user` option or check the permissions.

  Downloading pandas-1.4.2-cp39-cp39-win_amd64.whl (10.5 MB)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: six>=1.5 in c:\users\admin\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 1.3.4
    Uninstalling pandas-1.3.4:
      Successfully uninstalled pandas-1.3.4

In [46]:
import pandas as pd
import numpy as np 
from collections import Counter
from imblearn.over_sampling import SMOTE
from matplotlib import pyplot
from sklearn.preprocessing import LabelEncoder
def load_dataset(path,missing_headers=False):
    if missing_headers:
        data = pd.read_csv(path, header = None )
    else:
        data = pd.read_csv(path ,header = 0 )
    
#     global rows,columns
#     rows,columns = data.shape
    return data
def handling_missingData(data,categoryCols,numericCols):
    data = data.apply(lambda x: x.str.strip() if x.dtype == "object" else x)
    have_nan =data.isin(['?']).sum() > 0
    data.replace('?', np.nan , inplace=True)
    for column in categoryCols:
        if column in have_nan :
            data[column] = data[column].fillna(data[column].mode()[0])
    for column in numericCols:
        if column in have_nan :
            data[column] = data[column].fillna(data[column].mean())
    return data 
def Remove_outliers(data,numerixs):
    mean = data.describe().iloc[1, :]
#     mean la vi tri index 1 trong discribe , lay toan bo mean cua cac cot cua data 
    std = data.describe().iloc[2, :]
#     std la vi tri index 2 trong discribe ,...
    
    for(numerix , mean, std) in zip(numerixs, mean, std):
        data = data[data[numerix] < 3*std + mean]
        
    return data 
def labelEncoder(data):
    for col in data.columns:
        if data[col].dtypes == 'object':
            le = LabelEncoder()
            data[col] = le.fit_transform(data[col].astype(str))
    return data

    
def BalancingData(data,X,y):
    data.dropna()
    target = data.values[:,-1]
    counter = Counter(target)
    for k,v in counter.items():
        per = v/len(target)*100
        print("Class%s,Counter%d,Percentage%3f%%",(k,v,per))
    
    overSample = SMOTE()
    X,y = overSample.fit_resample(X,y)
    
    counter = Counter(y)
    print( counter)
    return data 


data = load_dataset("adult-all.csv" , missing_headers= True)
lastindex = len(data.columns) -1
X,y = data.drop(lastindex,axis =1),data[lastindex]
categoryCols = X.select_dtypes(include=["object"]).columns
numericCols = X.select_dtypes(include=["int64","float64"]).columns
handling_missingData(data,categoryCols,numericCols)
numerixs = [i for i in range(len(data.iloc[0])) if type(data.iloc[0,i]) != str]
Remove_outliers(data,numerixs)
labelEncoder(data)
lastindex = len(data.columns) -1
A,b = data.drop(lastindex,axis =1),data[lastindex]
print(data.dtypes)
BalancingData(data,A,b)

0     int64
1     int32
2     int64
3     int32
4     int64
5     int32
6     int32
7     int32
8     int32
9     int32
10    int64
11    int64
12    int64
13    int32
14    int32
dtype: object
Class%s,Counter%d,Percentage%3f%% (0, 24720, 75.91904425539757)
Class%s,Counter%d,Percentage%3f%% (1, 7841, 24.080955744602438)
Counter({0: 24720, 1: 24720})

       0   1       2   3   4   5   6   7   8   9      10  11  12  13  14
0      39   7   77516   9  13   4   1   1   4   1   2174   0  40  39   0
1      50   6   83311   9  13   2   4   0   4   1      0   0  13  39   0
2      38   4  215646  11   9   0   6   1   4   1      0   0  40  39   0
3      53   4  234721   1   7   2   6   0   2   1      0   0  40  39   0
4      28   4  338409   9  13   2  10   5   2   0      0   0  40   5   0
...    ..  ..     ...  ..  ..  ..  ..  ..  ..  ..    ...  ..  ..  ..  ..
32556  27   4  257302   7  12   2  13   5   4   0      0   0  38  39   0
32557  40   4  154374  11   9   2   7   0   4   1      0   0  40  39   1
32558  58   4  151910  11   9   6   1   4   4   0      0   0  40  39   0
32559  22   4  201490  11   9   4   1   3   4   1      0   0  20  39   0
32560  52   5  287927  11   9   2   4   5   4   0  15024   0  40  39   1

[32561 rows x 15 columns]